body{
    background-color: white;
}
div{
    background-color: grey;
    width:250px;
    height:250px;
    margin: 10px;
    text-align: center;
}
.img{
    margin: 10px;
    font-size:x-large ;
}
h1{
    text-align: center;
}
.icon{
    margin-top: 20px;
}
button{
    background-color: aquamarine;
    color: black;
    font-size: 15px;
}
section{
    margin-left:300px;
}
