body{
    background-color: grey;
    background-image: url("https://img.freepik.com/premium-photo/office-coworking-illustration-high-quality-4k_727523-1630.jpg");
    background-size: cover;
}
div{
    background-color:white;
    width: 320px;
    height: 440px;
    margin-left: 520px;
    margin-top: 80px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}
img{
    width: 320px;
    height: 50%;
}
p{
    text-align: center;
}
.tr{
    text-align: center;
}
ul{
    list-style:square;
    line-height: 25px;
}
.input{
    margin-left: 30px;
    height: 25px;
}
button{
    color: white;
background-color: rgb(248, 16, 117);
height: 30px;
}