div{
    background-color: aliceblue;
    width: 200px;
    height:220px;
    text-align: center;
    font-size:small;
}
.img{
    width: 80px;
    height: 80px;
    margin: 15px 60px 0px;
}
body{
    background-color: lightskyblue;
}
h2{
    text-align: center;
}
button{
    background-color: black;
    color: aliceblue;
}
section{
    margin-left: 400px;
}