body{
    background-color: cadetblue;
}
h2{
    text-align: center;
}
div{
    background-color: white;
    font-size:smaller;
    width: 200px;
    height: 200px;
    margin: 30px;
    margin-left:80px;
    text-align: center;
}
.icon{
    font-size: 50px; 
    margin: 40px 80px 0px;
}
hr{
    width: 50px;
    height: 5px;
    background-color: black;
}
h1{
    font-size: 22px;
}